@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.homePage {
  width: 100%;
  max-width: 30cm;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem 4rem;
}

.bannerContainer {
  position: relative;
  width: 100%;
  height: 40vh;
  min-height: 300px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerImg {
  width: 100%;
  height: 110%;
  object-fit: cover;
}

.bannerTitle {
  font-family: "Rubik", sans-serif;
  position: absolute;
  color: #ffffff;
  font-size: 33px; 
  font-weight: bold;
  max-width: 80%;
}

.divbranca1 {
  margin-top: 1cm;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  width: 20cm;
  color: #7c3000;
  margin-bottom: 2rem; /* Espaço antes da última frase */
  padding: 2rem;
}

.divbranca1 p {
font-weight: 620;
  padding: 15px 20px;
  text-align: center;
  margin: 0;
}

.frase {
  margin-bottom: 4px;
  color: #E41A56;
}

