@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: #000000;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.title {
    color: #ffffff;
    
}

.sobrenostexto {
   
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  letter-spacing: -2px;
  font-size: 1.1cm;
  color: rgb(255, 255, 255);
  line-height: 1.3cm;
  margin: 0.8cm;
  text-shadow: 0 0 20px #281600;
  margin-top: 0cm;
  text-align: center;

}

p {
    
     font-family: "Rubik", sans-serif;
     padding: 15px;
     padding-left: 20px;
     padding-right: 20px;
     text-align: center;
    }
    
    .divbranca1 {
    margin-top: 1.5cm;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50px;
    width: 20cm;
    color: #7c3000;
    margin-bottom: 1cm;

}

.Cardsgrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    margin-bottom: 1.5cm;
    
}


.sobreContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
}

/*responsividade*/
@media (max-width: 768px) {
    .sobrenostexto {
        font-size: 0.8cm;
        line-height: 1cm;
        margin: 0.5cm;
    }
        .divbranca1 {
            width: 15cm;
            margin-top: 1cm;
        }

    .Cardsgrid {
        flex-direction: column;
    }
}